/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-pink: #FB09B4;
    --color-yellow: #F7E93F;
    --color-purple: #9100F8;
    --color-green: #00FF88;
    --bg-color: #1A0B2E;
    --text-white: #FFFFFF;
    --text-white-secondary: #FAFAFA;
    --border-color: #412567;
    --linear-gradient: linear-gradient(to top right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-white);
}



/* common styles */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.card:hover {
    transition: 0.3s ease;
    transform: translateY(-5px);
    cursor: pointer;
}

/* Header section styles */
.header-container {
    max-width: 1600px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    border-bottom: 1px solid var(--border-color);
}

.brand-logo__link {
    font-size: 48px;
    font-weight: bold;
    color: var(--color-white);
}

.brand-logo__text {
    font-weight: bold;
    color: var(--color-pink);
}

.nav-bar__list {
    display: flex;
    gap: 32px;
}

.nav-bar__link {
    color: var(--text-white);
    font-size: 18px;
    font-weight: 500;
}

.nav-bar__list-item--hamburger {
    display: none;
}

.nav-bar__link:hover {
    color: var(--color-pink);
    transition: 0.3s ease-in-out;
}

.brand-button {
    background: var(--linear-gradient);
    border: none;
    padding: 12px 18px;
    color: var(--text-white);
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    transition: 0.3s ease;
}

.brand-button:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.brand-button__label {
    font-weight: 500;
}


/* logo animation */

.brand-logo__text {
    position: relative;
    display: inline-block;
    color: transparent;
}

.brand-logo__text::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: 4px solid var(--color-pink);
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 10s linear forwards;
}

@keyframes fill-text {

    0%,
    20% {
        width: 0%;
        border-right-color: var(--color-pink);
    }

    80% {
        width: 100%;
        border-right-color: var(--color-pink);
    }

    100% {
        width: 100%;
        border-right-color: transparent;
    }
}


/* Hero section styles */
.hero-section {
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    background-image: url('../assets/images/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.hero-image {
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.tooltip-parent {
    position: relative;
    display: inline-block;
}

.hero-image__tooltip {
    position: absolute;
    top: -330px;
    right: -320px;
    background-color: var(--color-green);
    color: #000;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 6px 27px rgb(0, 255, 136, 0.8);
    z-index: 10;
}

.hero-image__tooltip:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.hero-image__mic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.hero-text {
    text-align: center;
    margin-top: 40px;
}

.text__title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--text-white);
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    gap: 20px;
}

.brand-button.design-2 {
    background: transparent;
    padding: 10px 14px;
    border: 1px solid var(--color-green);
    color: var(--color-green);
}


@media screen and (max-width: 576px) {
    .hero-section {
        background: url('../assets/images/mobile-hero-bg.png');
        background-size: cover;
        background-position: center;
        padding: 0px 20px 40px 20px;
        height: 700px;
    }

    .nav-bar {
        padding: 16px;
    }

    .brand-logo {
        font-size: 36px;
    }

    .nav-bar__list-item,
    .nav-bar__button {
        display: none;
    }

    .nav-bar__list-item--hamburger {
        display: block;
    }

    .hero-image {
        padding-top: 40px;
    }

    .hero-image__circle {
        height: 200px;
        width: 200px;
        position: relative;
    }

    .hero-image__mic {
        height: 80px;
        width: 80px;
    }

    .hero-section {
        height: 460px;
        width: 100%;

    }

    .hero-image__tooltip {
        top: -185px;
        right: -200px;
        font-size: 12px;
        padding: 6px 12px;
    }

    .hero-text {
        margin-top: 0px;
    }

    .text__title {
        font-size: 42px;
        margin-bottom: 16px;
    }

    .text__subtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .hero-button {
        gap: 12px;
        margin-top: 16px;
    }

    .brand-button__label {
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-bar {
        padding: 16px 40px;
    }

    .hero-section {
        height: 600px;
    }

    .text__title {
        font-size: 48px;
    }

    .text__subtitle {
        font-size: 16px;
    }

    .hero-image__tooltip {
        top: -330px;
        right: -320px;
        font-size: 14px;
        padding: 6px 12px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .nav-bar {
        padding: 20px 80px;
    }

    .hero-section {
        height: 700px;
    }
    
}

/* Podcast section styles */

.podcast-section {
    max-width: 1200px;
    margin: 40px auto 80px auto;
}

.podcast-text {
    text-align: center;
}

.podcast__subtitle {
    font-size: 16px;
    opacity: 0.8;
    line-height: 2;
    margin: 20px 0px;
}

.podcast-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 80px;
    padding-top: 80px;
}

.info__title {
    font-size: 48px;
    color: var(--color-green);
    font-weight: bold;
    margin-bottom: 16px;
}

.info__subtitle {
    font-size: 16px;
    opacity: 0.8;
    text-transform: uppercase;
}

/* Podcast section responsive styles */

@media screen and (max-width: 576px) {
    .podcast-section {
        padding: 40px 20px;
        margin: 0px;
    }

    .podcast__subtitle {
        font-size: 14px;
        margin: 12px 0px;
        line-height: 1.2;
    }

    .info {
        margin: 20px 0px;
        flex: 0 0 45%;
    }

    .podcast-info {
        margin-top: 40px;
        padding-top: 40px;
    }

    .info__title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .info__subtitle {
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .podcast-section {
        margin: 120px auto 60px auto;
    }

}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .podcast-section {
        margin: 80px auto 60px auto;
    }
}

/* Why Choose Us section styles */

.why-choose-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background: #230E3D;
}

.why-choose__title {
    text-align: center;
}

.why-choose-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    margin-top: 80px;
}

.why-choose-content {
    border-radius: 40px;
    background: rgb(53, 17, 101, 0.4);
    padding: 40px;
}

.big-layout {
    grid-column: span 1;
    grid-row: span 2;
}

.wide-layout {
    grid-column: span 2;
    grid-row: span 1;
}

.small-layout {
    grid-column: span 1;
    grid-row: span 1;
}

.big-layout img {
    margin-top: 60px;
}

.content__title {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0px;
}

.content__subtitle {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

/* Why Choose Us responsive styles */

@media screen and (max-width: 576px) {
    .why-choose-section {
        padding: 40px 20px;
        margin: 0 auto;
    }

    .why-choose-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
        margin-top: 16px;
    }

    .why-choose-content {
        padding: 24px;
        border-radius: 24px;
    }

    .big-layout,
    .wide-layout,
    .small-layout {
        grid-column: span 1;
        grid-row: span 1;
    }

    .big-layout img {
        margin-top: 0px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .why-choose-section {
        padding: 80px 40px;
    }

    .why-choose-container {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        gap: 24px;
    }

    .big-layout {
        grid-column: span 2;
        grid-row: span 1;
    }

    .small-layout {
        grid-column: span 2;
        grid-row: span 1;
    }

}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .why-choose-section {
        padding: 80px;
    }  
    
}

/* episode section styles */

.episode-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
}

.episode-section__title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.episode-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.episode-content {
    background: #230E3D;
    border-radius: 20px;
    overflow: hidden;
}

.episode-text {
    padding: 0px 20px 20px 20px;
}

.episode-content iframe {
    width: 100%;
    height: 200px;
    padding: 0;
}

.episode__title {
    text-align: left;
    margin: 16px 0px;
    font-size: 24px;
    font-weight: bold;

}

.episode__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.episode__icon {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-green);
}

.episode__icon i {
    margin-right: 8px;
}

/* Episode section responsive styles */

@media screen and (max-width: 576px) {
    .episode-section {
        padding: 40px 20px;
    }

    .episode-section__title {
        font-size: 32px;
    }

    .episode-container {
        flex-direction: column;
        gap: 16px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .episode-section {
        padding: 40px 80px;
    }

    .episode-container {
        flex-direction: column;
        gap: 24px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .episode-section {
        padding: 80px;
    }
    
}


/*  Host section styles */

.host-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 200px 120px 200px;
}

.host-section__title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.host-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    background: rgb(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.host-text {
    text-align: left;
}

.host__title {
    font-size: 32px;
    font-weight: bold;
}

.host__subtitle {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin: 16px 0px 25px 0px;
}

.social a {
    color: var(--text-white);
    font-size: 16px;
    margin-right: 8px;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 50%;
}

.social a:hover {
    border-color: var(--color-pink);
    transition: border-color 0.3s ease;
}

.social a i {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Host section responsive styles */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .host-section {
        padding: 0px 80px 80px 80px;
    }

}

@media screen and (max-width: 576px) {
    .host-section {
        padding: 0px 20px 40px 20px;
    }

    .host-section__title {
        font-size: 32px;
        margin: 20px 0px;
    }

    .host-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .host-text {
        text-align: center;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .host-section {
        padding: 0px 80px 80px 80px;
    }
    
}

/* Footer section styles */

.footer-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 200px;
    background: url('../assets/images/footer-bg.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px;
}

.brand-logo__link {
    font-size: 70px;
    font-weight: bold;
}

.footer-nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 0px 32px 0px;

}

.footer-nav__list-item {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-white-secondary);
    opacity: 0.6;
}

.footer-nav__list-item i {
    margin-right: 8px;
    color: var(--text-white);
}

.footer__copyright {
    font-size: 18px;
    opacity: 0.6;
    margin-top: 32px;
    color: var(--text-white-secondary);
}

.footer-nav__list-item:hover a,
.footer-nav__list-item:hover a i {
    color: var(--color-pink);
    transition: color 0.3s ease;
}


/* Footer responsive styles */

@media screen and (max-width: 576px) {
    .footer-container {
        padding: 40px 20px 60px 20px;
        background: url('../assets/images/mobile-footer.png');
        background-size: cover;
        background-position: center;
    }

    .footer-content {
        max-width: 390px;
        margin: 0 auto;
    }
    .footer-brand{
        margin-bottom: 10px;
    }
    .brand-logo__link {
        font-size: 48px;
        margin-bottom: 8px;
    }

    .footer-brand__link {
        margin: 50px 0px 16px 0px;
    }

    .footer-nav__list-item {
        font-size: 16px;
    }

    .footer-nav__list {
        gap: 16px;
        padding: 0px 30px;
        margin: 0px 0px 16px 0px;
    }

    .footer__copyright {
        margin: 0;
        font-size: 16px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .footer-container {
        padding: 80px 40px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .footer-container {
        padding: 80px 80px;
    }
    
}